

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Showcase</a>
      </div>
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/observedemo">Observable Demo</a></li>
        <li><a href="#" routerLink="/form">Form Validation</a></li>
        <li><a href="#" routerLink="/httpdemo">Http Demo</a></li>
        <li><a href="#" routerLink="/user">Http Param</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
      </ul>
    </div>
  </nav>
